@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* iPhone 12 width=608px, height=295px */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/*! iPhone Mobile Shape Create */
.iPhone12 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 600px;
    background: #FFF;
    border-radius: 35px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, .2),
        0 40px 100px rgba(0, 0, 0, .4);
}

.iPhone12::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    background: #091921;
    background-size: cover;
    border-radius: 25px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .2);
}

.iPhone12::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 130px;
    height: 20px;
    background: #FFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

/*! iPhone Camera and Speaker Style  */
.font-spk-cam {
    position: absolute;
    top: 21px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 3px;
    border-radius: 25px;
    background: #eaeaea;
    z-index: 9999;
}

.font-spk-cam::before {
    content: "";
    position: absolute;
    top: -1.5px;
    left: 47px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #eaeaea;
    z-index: 99999;
}

/*! Top left side time style */
.top-bar-left {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20px;
    left: 37px;
    cursor: pointer;
}

.time {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #d1dbe3;
    display: block;
    font-size: 14px;
}

.html-icon {
    font-size: 15px;
    font-weight: 700;
    margin-left: 1px;
    margin-right: 3px;
}


/*! Top Right side Icon style */
.top-bar-right {
    position: absolute;
    right: 27px;
    top: 24px;
    width: 55px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

i.fas {
    font-size: 10px;
    color: #d1dbe3;
}


/*! DIGITAL CLOCK STYLE */
.header-clock {
    width: calc(100% - 60px);
    height: 100px;
    position: absolute;
    top: 60px;
    left: 30px;
}

.heading {
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #d1dbe3;
}

.digital-clock {
    display: flex;
    flex-direction: row;
    color: #d1dbe3;
    font-size: 36px;
    font-weight: 600;
    text-transform: capitalize;
}

.digital-row {
    display: flex;
    align-items: center;
    line-height: 35px;
}

.digital {
    font-size: 15px;
    margin-left: 5px;
}

.digital-clock i {
    font-size: 22px;
    color: #d1dbe3;
    margin: 0 2px;
}



/*! ANALOG CLOCK STYLE */
.analog-clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    background: #091921 url(./clock.png) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
        inset 0 -15px 15px rgba(255, 255, 255, 0.05),
        0 15px 15px rgba(0, 0, 0, 0.3),
        inset 0 15px 15px rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.analog-clock::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FFF;
    z-index: 10000;
    position: absolute;
}

.analog-clock .hour,
.analog-clock .minutes,
.analog-clock .seconds {
    position: absolute;
}

.analog-clock .hour,
.hr {
    width: 160px;
    height: 160px;
}

.analog-clock .minutes,
.min {
    width: 180px;
    height: 180px;
}

.analog-clock .seconds,
.sec {
    width: 212px;
    height: 212px;
}

.hr,
.min,
.sec {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.min::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: rgb(200, 255, 1);
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sec::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 125px;
    background: #FFF;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}


/*! Bottom Clock Style  */
.bottom-clock {
    width: calc(100% - 60px);
    height: 100px;
    background: #d1dbe3;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 10px 10px;
    padding-left: 58px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.bottom-clock::before {
    content: "";
    position: absolute;
    top: -33px;
    left: -37px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 0 #fff;
}

.bottom-clock::after {
    content: "";

}

.name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: #091921;
    font-weight: 700;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
        0px -5px 35px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
}

.day {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #091921;
    font-weight: 700;
    text-transform: uppercase;
    text-align: end;
    color: crimson;
    margin-top: 5px;
}



/*! Star Icon design  */
#star-five {
    position: absolute;
    bottom: 69px;
    left: 0px;
    color: #091921;
    /* background: #d1dbe3; */
    background: #F28C38;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 30px;
    box-shadow: -5px -5px 30px 5px red,
        5px 5px 30px 5px blue;
}

/* #star-five {

} */